<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="true">


    <!-- CONSOLE APPENDER -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- TODO IN REAL WORLD APPLICATION WE MUST DISABLE CONSOLE LOG AND USING ROLLING FILE APPENDER -->

    <!-- LOGGERS -->
    <logger name="it.sample" level="TRACE" />

    <logger name="org.springframework" level="TRACE" />

    <!-- ROOT LOGGER -->
    <root level="TRACE">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
